/* layout */
.resources-menu {
    grid-area: menu;
    background: gray;
    min-height: 100vh;
    padding: 4rem 0;
}

.main-area {
    grid-area: main-area;
    height: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    grid-template-areas: "menu main-area";
}


/* menu */
.resources-menu ul {
    list-style-type: none;
}

.resources-menu li {
    margin-bottom: 0;
}

.resources-menu a {
    transition: all 0.2s ease;
    color: white;
    padding: 2rem 2rem;
    display: block;
}

.resources-menu a:hover {
    color: gray;
    background: #333;
    display: block;
}

/* listing */
.resources-listing {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 4rem 0 0 4rem;
}

.resources-listing header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4rem;
}

.resources-listing > div {
    overflow-y: auto;
    flex: 0 1 100%;
    padding-bottom: 4rem;
}

.resources-listing table {
    position: relative;
    table-layout: fixed;
}

.resources-listing th {
    background: white;
    position: sticky;
    top: 0;
}


.resources-listing .sort {
    cursor: pointer;
    user-select: none; 
}

.resources-listing .sort i {
    transition: all 0.2s ease;
    transform: scale(0.6);
}

.resources-listing .sort .desc {
    color: inherit;
    transform: scale(0.6) rotate(90deg) translateX(2px);
}

.resources-listing .sort .asc {
    color: inherit;
    transform: scale(0.6) rotate(-90deg) translateX(8px);
}



/* forms */
section.resource-form {
    padding: 4rem;
}

.field .error {
    color: red;
}

.field.with-error input {
    border-color: red;
}

.field.required label:after {
    color: #faa;
    content: " (req.)"
}

.autocomplete-input {
    display: flex;
}

.field .association-link {
    min-width: 4rem;
    max-width: 10rem;
    padding: .6rem 1.0rem .7rem;
    text-overflow: ellipsis;
}


input, textarea, .grow-wrap > textarea, .grow-wrap::after {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font: 400 13.3333px Arial;
}


/* message */
.message {
    position: fixed;
    display: flex;
    top: 4rem;
    right: 4rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    justify-content: space-between;
}

.message .close {
    justify-content: flex-end;
}

.message p {
    margin-top: 0.4rem;
    padding-right: 4rem;
}

.message.confirmation {
    background: rgba(204, 229, 189, 0.6);
}

.message.confirmation, .message.confirmation i {
    color: #698658;
}


/* textarea autogrow
https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
*/
.grow-wrap {
  display: grid;
}

.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
  padding: 2rem;
}

.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
  height: inherit !important;
}

.grow-wrap > textarea, .grow-wrap::after {
  grid-area: 1 / 1 / 2 / 2;
}

/* misc */
i.icono-cross, .listing-row {
    cursor: pointer;
}
